.center-everything {
  text-align: center;
}

.circle-pic {
  max-width: calc(min(90%, 20em));
  height:auto;
  border-radius: 50%;
  border: .05em solid;
  border-color: black
}

.caption {
  margin-top: 0.5em;
  margin-bottom: -0.5em;
}