.body {
  height: 100%;
}

.footer {
  background: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

a {
  color: black;
}

.horizontal-break {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}