@media (min-width: 1080px) {
  .body {
    height: 100%;
  }
  
  .footer {
    background: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }  
}

.first-line {
  margin: 0.1em;
}

.second-line {
  margin-bottom: 0.5em;
}

a {
  color: #000000A0;
}

@media (max-width: 1079px) {
  .body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    background: #ffffff;
    flex-shrink: 0;
    width: 100%;
    text-align: center;
  }
  
}